body {
  font-family: "gimlet-display", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(newsocc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 10px solid red;
}

.button-56 {
  align-items: center;
  background-color: #e92929;
  border: 2px solid #111;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 48px;
  padding: 0 25px;
  text-decoration: none;
  font-size: 20px;
  bottom:20px;
  left:50%;
  transform: translateX(-50%);
  z-index:2;
  box-shadow:0 4px 8px red;
  transition: background-color 0.3s red;
  font-family: "gimlet-display", serif;
  position: absolute;
}

.button-56:after {
  content: "";
  background-color: #aa7e7e;
  border-radius: 8px;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 48px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.imgball {
  width: 200px;
  height: auto;
  animation: spin 10s linear infinite;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  opacity:0.9;
  z-index: 1;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.typing {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #bb3333;
  font-size: 75px;
  color: white;
  text-shadow: 10px 10px 15px rgb(235, 10, 10);
  font-family: "cofo-kabeltouw-solid-0", sans-serif;
  animation: typing 12s linear infinite, cursor 0.6s step-end infinite;
  display: block;
  text-align: center;
  margin: 80px auto 30px auto;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 1000px; }
  100% { width: 0; }
}

@keyframes cursor {
  0%, 100% { border-color: #ff2b2b; }
  50% { border-color: transparent; }
}

.sidebar {
  background: red;
  padding: 15px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.sidebar .soc {
  width: 70px;
  display: block;
  margin: 0 auto;
}

.sidebar-nav {
  margin-top: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 15px 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-size: 24px;
}
.ball-button-wrapper{
  position:relative;
  width:220px;
  height:220px;
  margin:50px auto;

}