.body{
    font-family: "gimlet-display", serif;
font-weight: 400;
font-style: normal;
background-image: url(newsocc.jpg);
background-repeat: no-repeat;
background-size:cover;
padding:0;
overflow:hidden;
margin:0;
}
.start{
  background-color: #388bf8;
}
  /*found from cssscan*/
.button-56 {
  align-items: center;
  background-color: #388bf8;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "gimlet-display", serif;
font-weight: 400;
font-style: normal;
font-size:20px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
marquee{
  height:100vh;
}
.ball{
  max-width:150px;
  animation: animate 1004s ease-out infinite;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  } 100%{
    transform: rotate(360deg);
  }
}
.card{
  background-color: rgb(196, 106, 118);
  height:auto;
  margin-top:50px;
}
p{
  color:white;
}